{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css'%}"> 
    </head>
    <body>

        <section class="page-title">
            <h5 class="font-weight-bold">Delete Store</h5>
          </section>
  
          
          <section class="form-area">
              <div class="box-inside">
                  <form method="post">{% csrf_token %}
                      <p>Are you sure you want to delete <span style="color:red">"{{ object }}"</span>?</p>
                      <input type="submit" value="Confirm">
                  </form>
              </div> 
          </section>
    </body>
</html>