{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css'%}"> 
    </head>
    <body>

        <section class="page-title">
          <h5 class="font-weight-bold">Store</h5>
        </section>

        
        <section class="form-area">
            <div class="box-inside">
                <form method="POST" class="mt-4" enctype="multipart/form-data">
                  {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Daftarkan</button>
                </form>
            </div> 
        </section>
    </body>
</html>